<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
    .card {   width: 262px; height: 150px; margin: 10px; padding: 20px; border: 1px solid black; border-radius: 10px; cursor: default; }
    </style>
  </head>
  <body>
    <h2>YOU'VE BEEN CARDED!</h2>
    <h4><%=@user.first_name %>, sent you a business card.</h4>   
    <!-- 
    BUSINESS CARD GOES HERE
    AS A LINK CLOWN HAT @url END CLOWN HAT
    HTML AND CSS FOR ACTUAL CARD HERE 
    PICTURES CAN BE ATTACHED BY TYPING
    IN RUBY CLOWN HATS image_tab attachments['image.jpg'].url END CLOWN HAT
    -->
    <a href= "http://getcarded.herokuapp.com/invite?=<%= @token.secret_key %>">Click Here To See Card!</a>  
  </body>

</html>